


.navbar{
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    background-color: rgb(36, 35, 35);
    padding-bottom: 10px;
}
.navbar ul{
    display: flex;
    list-style: none;
}
.navbar ul li a{
    margin-left: 15rem;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.logo{
    display: flex;
    align-items: center;
}